* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
/*-------N A V B A R------------*/

.nav {
  width: 100%;
  background-color: #282828;
  list-style: none;
  text-align: center;
  padding: 20px;
  font-weight: bold;

}
.nav  li {
  display: inline-block;
  padding-right: 65px;
  padding-left: 65px;
}
.nav  li  a {
  text-decoration: none;
  color: white;
  transition: all 1s;
}
.nav  li  a:hover {
color: #a80000;
transition: all 1s;
background-color: #282828;
}
/*----------N A V B A R---------*/
.back {
  background-image: url("../img/img9.jpg");
  height: 100vh;
  background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
h1 {
  color: #282828;
  padding: 10px;
  margin-top: 5%;
  font-size: 56px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  box-shadow: 0 0 15px black, 0 0 40px black;
  text-shadow: 0 0 40px black;
  letter-spacing: 10px;
}
h2 {
  margin-top: 10%;
  text-shadow: 0 0 15px black, 0 0 40px black;

}
h2 span {
  font-weight: 400;
  text-decoration: underline;
}
.title {
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}


/*-----------F O O T E R------------*/
footer {
  width: 100%;
  font-size: 17px;
  background-color: #282828;
  color: white;
  background-color: #1c1c1c;
  text-align: center;
  height: 50px;
}


/*-----------F O O T E R------------*/
